body {
    margin:0;
    background-color: #ffd60a;
    color: #003566;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    text-align: center;
}

h1 {
    font-size: 3rem;
}

p {
    font-size: large;
}

.section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2em;
    padding:1em;
}

.imgBox {
    background-color: #001d3d ;
    border: 3px solid #f8f85d;
    color: #ffd60a;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1.5em;
    max-width: 100%;
}

.img, .divCard {
    max-width: 100%;
}

h4 {
    font-size: 1.2em;
    text-decoration: underline;
}

.footer {
    background-color: #ffbb00;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}

.divFoot {
    max-width: 30em;
    max-height: 3.5em;
    background-color: red;
    padding: 20px;
    margin-top: 1em;
    margin-bottom: 1em;
    font-size: 1.5em;
}

.divF2 {
    padding: 1em;
    border: 3px dotted #001d3d;
    border-radius: 20px;
}

span {
    font-weight: bold;
}

.divCard {
    display: flex;
    gap: 2em;
    margin-bottom: 30px;
}

.divC {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


@media (max-width:770px) {
    .section {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}



@media (max-width:426px) {
    .section {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(6, 1fr);
    }
    .divCard {
        display: flex;
        flex-direction: column;
    }
}